body {
  background-color: #EFBF5D;
}

.App {
  background-color: #EFBF5D;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  padding-bottom: 20px;
}

#to-do-form input {
  border: 0;
  width: 200px;
  height: 40px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color: black;
}

#to-do-form input:focus {
  outline: none;
}

#to-do-form button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(202, 156, 24);
  cursor: pointer;
  font-weight: bolder;
  color: #fff;
}